/*Chandra Aldiwijaya*/
/*chandra.aldiwijaya.694@gmail.com*/


body {
    background-image: url("pattern.jpg");
    margin: 0;
    font-family: arial, verdana, sans-serif;;
}

header {
    overflow: hidden;
    background-color: rgb(224, 250, 255);
    position: fixed;
    width: 100vw;
}

header img {
    float: left;
    display: block;
    width: auto;
    height: 75px;
}

header ul {
    float: right;
    margin: 0;
    padding: 0;

}

header a {
    color: rgb(69, 151, 245);
    font-size: 17px;
}

section {
    margin-left: 10vw;
    margin-right: 10vw;
    padding: 100px 30px 30px 30px;
    background-color: white ;
    max-width: 90vw;
    
}

section h1 {
    padding: 30px;
    text-align: center;
    font-size: 38px;
}

section h3 {
    padding-top: 25px;
    padding-bottom: 10px;
}

section a {
    color: rgb(69, 151, 245);
    font-size: 27px;
}

section p{
    text-align: justify;
    font-size: 17px;
}

footer {
    background-color: black;
}

footer h5 {
    margin: 0;
    text-align: center;
    font-size: 17px;
    color: white;
    padding: 10px;
}

/*For responsive user at 600px width. Navbar menu will stack horizontal*/
/*Checkout your viewport at https://whatismyviewport.com/*/
@media screen and (max-width: 600px) {
    section {
        margin-left: 20px;
        margin-right: 20px;
        padding-top: 172px
    }

    section h1 {
        font-size: 33px;
    }
    
    section a {
        font-size: 22px;
    }
    
    section p{
        text-indent: 30px;
        font-size: 15px;
        
    }

}
